body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.person{
	border: 1px solid black;
	margin-bottom: 5%;
	padding-bottom: 5%;
}
.person h2{
	text-align: center;
}